<form [formGroup]="filters" (ngSubmit)="submitForm()">
  <select formControlName="region">
    <option value="Midwest">Midwest</option>
    <option value="East Coast">East Coast</option>
    <option value="West Coast">West Coast</option>
  </select>
  <input formControlName="age" />
  <button>Submit!</button>
</form>
