<app-video-list
  (videoSelected)="selectTheVideo($event)"
  [videos]="videoList"
  [selectedVideo]="currentVideo"
></app-video-list>
<app-video-player
  [video]="currentVideo"
></app-video-player>
<app-stat-filters></app-stat-filters>
